syntax: regexp
(.*/)?\#[^/]*\#$

syntax: glob
*.bak
*.cache
*.egg
*.egg-info
*.err
*.fai
*.gzi
*.log
*.orig
*.pgd.gz
*.pyc
*.pylint
*.pyo
*.rej
*.sha1
*.md5
*.so
*.sql.gz
*.sqlite3
*.tar.gz
*.tmp
*~
.*.mk
.*.swp
.DS_Store
.coverage
.eggs
.idea
.keys
archive
bdist
build
cover
dist
nosetests.xml
patches
sdist
tmp
ve
workspace
